In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
my_index = ser1.index
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [6]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2 = ser1.reindex(['A','B','C','D','E','F'],fill_value=1)

In [8]:
ser2

A    1
B    2
C    3
D    4
E    1
F    1
dtype: int64

In [9]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
#Show
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
#Can use a forward fill for interploating values vetween indices
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

Exercise for Series reindexing

In [11]:
#Q1
se1 = Series([10,20,30,40,50])

In [12]:
se1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [13]:
#Q2
se2 = Series([10,20,30,40,50],index=['a','b','c','d','e'])

In [14]:
se2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [15]:
my_index = se2.index
my_index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [16]:
se4 = se2.reindex(['a','b','c','d','e','f','g'])
se4

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
f     NaN
g     NaN
dtype: float64

In [17]:
se4 = se2.reindex(['a','b','c','d','e','f','g'],fill_value=0)

In [18]:
se4

a    10
b    20
c    30
d    40
e    50
f     0
g     0
dtype: int64

In [19]:
se5 = se2.reindex(['a','b','c','d','e','f','g'])
se5

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
f     NaN
g     NaN
dtype: float64

In [20]:
#Q7
se5 = se2.reindex(['a','b','c','d','e','f','g'],method='ffill')
se5

a    10
b    20
c    30
d    40
e    50
f    50
g    50
dtype: int64

# Exercise for DataFrame reindexing:

In [21]:
np.random.seed(123)
data = {'A': np.random.randint(1, 10, 5), 'B': np.random.randint(1, 10, 5)}
df = pd.DataFrame(data)

In [22]:
df

   A  B
0  3  7
1  3  2
2  7  1
3  2  2
4  4  1

In [28]:
se6 = df.reindex(['a','b','c','d','e'])
se6

    A   B
a NaN NaN
b NaN NaN
c NaN NaN
d NaN NaN
e NaN NaN

In [24]:
new_index = ['a', 'b', 'c', 'd', 'e']

In [29]:
se7 = se6.reindex(['a','b','c','d','e','f','g'],fill_value=0)

In [30]:
se7

     A    B
a  NaN  NaN
b  NaN  NaN
c  NaN  NaN
d  NaN  NaN
e  NaN  NaN
f  0.0  0.0
g  0.0  0.0

In [31]:
df.reindex(new_index)

    A   B
a NaN NaN
b NaN NaN
c NaN NaN
d NaN NaN
e NaN NaN